<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "SeleniumCucumber" configfailurepolicy="continue" parallel="methods" thread-count="10">
<parameter name="browser" value="Chrome"/>
<test name = "SeleniumCucumber">
<classes>
<class name = "Runner.Runner" />
</classes>
</test>
</suite>